/* CSS Variables {} */

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

body {
    margin: 0;
    font-family: 'Helvetica', 'Arial';
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border-radius: 15px;
    font-size: 2rem;
    text-align: center;
    width: 50%;
    border: 0;
}

.btn:hover {
    background-color: rgb(82, 73, 73);
}

/* Navigation */
.navlinks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navlinks li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.left {
    float: left;
}
.right{
    float: right;
}

.active{
    background-color: #111;
}
p a{
    color: brown;
}
p a:hover {
    color: #111;
}
.navlinks li a:hover {
    background-color: #111;
}

/*Top Container*/
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'showcase';
}

/* Showcase */
.showcase {
    grid-area: showcase;
    height: 200px;
    background: url(/iReporter/images/pens.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 20rem;
    padding-left: 14rem;
    padding-right: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--shadow);
    
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    margin-top: 50px;
    align-self: center;
    color: var(--light);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 20;
    text-align: center;
    align-self: center;
    color: black;
}

.btns {
    margin: 20px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
}
.btnss {
    align-self: center;
    margin: 60px;
    text-align: center;
}
/*Footer
    margin: 0;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
*/


@media (max-width: 700px) {

    .showcase {
        grid-area: showcase;
        min-height: 100px;
        background: url(/iReporter/images/pens.jpg);
        background-size: cover;
        background-position: center;
        padding-bottom: 5rem;
        padding-left: 7rem;
        padding-right: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: var(--shadow);
    }
    

    .navlinks li {
        float: none;
    }

    .showcase h1 {
        font-size: 2.5rem;
    }

    .top-container {
        grid-template-areas:
            'showcase';
    }

    .btns {
        grid-template-columns: 1fr;
    }


}